/*
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

/*
@font-face {
    font-family: "Fenix";
    src: url("./../public/fonts/Momo/MomoSignature-Regular.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
*/

@font-face {
    font-family: "Fenix";
    src: url("/fonts/Fenix/Fenix-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --primary: #0d1c37;
    --secondary: #122a53;
    --tertiary: #73a5f8;
    --accent: #acc4ee;
}

::selection {
    background: var(--primary);
    color: var(--tertiary);
}

::-webkit-scrollbar-button {
    display: none;
    height: 0;
    width: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    scrollbar-color: var(--tertiary) var(--primary);
}

body {
    color: var(--accent);
    background: var(--background);
    font-family: "Fenix", Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    color: inherit;
    font-family: inherit;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

h1 {
}

h2 {
}

h3 {
}
