*

!.gitignore

!package.json

!backend
!backend/**

!contracts
!contracts/**
contracts/node_modules

!frontend
!frontend/**

!platform
!platform/**

!orchestrator
!orchestrator/**

!install.sh
!start.sh
!stop.sh
!restart.sh

!requirements.txt

!.env

!README.md

data

*.egg-info

!platform/monitoring/grafana/data/grafana.db

package-lock.json

platform/**/generated

__pycache__

logs
pf.log