.dialogWrapper {
    padding: 1.375rem 1.875rem;
    gap: 1.5625rem;
    width: 430px;
    height: 585px;
}

.searchBox {
    border-radius: 10px;
    padding: 1.15rem 1rem;
    flex-shrink: 0;
    width: 100%;
}

.albumList {
    display: flex;
    flex-direction: column;
    gap: 0.875rem;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0.75rem 2rem;
    list-style-type: none;
}

.album {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    background-color: var(--secondary);
    width: 100%;
    padding: 0.625rem 0.8125rem;
    overflow: hidden;
    /* white-space: nowrap; */
    /* text-overflow: clip; */
    flex-shrink: 0;
    transition: 0.15s;
    outline-width: 0;
    border: 0;
    /* transition-property: background-color, color, outline-width, outline-style; */
    cursor: pointer;
    user-select: none;
}

.album:hover,
.album:focus-visible {
    scale: 1.1;
    background-color: var(--primary);
    color: var(--tertiary);
    outline-style: solid;
    outline-width: 1px;
    outline-color: var(--tertiary);
}

.albumCover {
    flex-shrink: 0;
    outline-style: solid;
    outline-color: var(--tertiary);
    outline-width: 1.5px;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.albumTitle {
    font-size: var(--font-size-lg);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: 0.25s;
    line-height: 1.2;
}

.albumTrash {
    border: none;
    background: none;
    padding: 0.2rem;
    cursor: pointer;
    color: var(--accent);
    flex-shrink: 0;
    margin-left: auto;
    font-size: var(--font-size-xl);
    scale: 0.9 1;
    transition: 0.1s;
    transition-property: color, transform;
}

.albumTrash:hover,
.albumTrash:focus-visible {
    scale: 1.05;
    color: var(--tertiary);
}

.album:hover .albumCover,
.album:focus-visible .albumCover {
    box-shadow: 0 0 25px 25px var(--secondary);
}

.createAlbumBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-lg);
    padding: 0.625rem 0.7rem;
    flex-shrink: 0;
}
