.wrapper {
    font-size: var(--font-size-3xl);
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    justify-content: center;
    padding: 3rem 1.25rem;
    text-align: center;
}

.wrapper button {
    font-size: 0.889em;
    color: var(--tertiary);
    line-height: 0.75;
    padding: 0.35em 0.45em;
}

.wrapper button:hover,
.wrapper button:focus-visible {
    color: var(--accent);
}
