.notificationCount {
    position: absolute;
    background-color: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color: var(--tertiary);
    border-radius: 50%;
    border-width: 1px;
    color: var(--accent);
    transition: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
