:where(.textBox) {
    background-color: var(--secondary);
    color: var(--accent);
    border: none;
    outline-color: var(--tertiary);
    outline-width: 1px;
    outline-style: solid;
    padding: 0.25em 0.5em 0.25em 0.5em;
    width: auto;
    height: var(--font-size-2xl);
    font-size: var(--font-size-lg);
    font-family: inherit;
    transition: 0.1s;
    transition-property: outline-width, outline-color;
}

:where(.textBox)[type="date"] {
    width: 16ch !important;
}

:where(.textBox)[type="number"] {
    width: 6ch !important;
}

:where(.textBox):focus {
    outline-width: 2px;
    outline-color: var(--accent);
}

:where(.textBox)::placeholder {
    color: var(--accent);
    opacity: 0.25;
}

:where(.textBox):disabled {
    filter: brightness(var(--disabled-brightness));
    pointer-events: none;
}
