.pageWrapper {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    flex-direction: column;
    flex: 1;
}

.title {
    margin-top: var(--title-margin);
    color: var(--tertiary);
    font-size: var(--title-fontsize);
}

.inputWrapper {
    display: grid;
    margin-top: var(--option-margin);
    grid-template-columns: auto auto;
    row-gap: var(--input-row-gap);
    column-gap: var(--input-column-gap);
}

.inputLabel {
    justify-self: right;
    font-size: var(--font-size-xl);
    color: var(--accent);
}

.inputField {
    color: var(--accent);
    width: 225px !important;
}

.saveBtn {
    margin-top: var(--option-margin);
}
