.textBox {
    font-family: "Fenix";
    background-color: var(--secondary);
    color: var(--accent);
    border: none;
    outline-color: var(--tertiary);
    outline-width: 1px;
    outline-style: solid;
    padding-left: 0.3em;
    padding-right: 0.2em;
    width: auto;
    height: var(--font-size-2xl);
    font-size: var(--font-size-lg);
    transition: 0.1s;
    transition-property: outline-width, outline-color;
}

.textBox[type="date"] {
    width: 16ch !important;
}

.textBox[type="number"] {
    width: 6ch !important;
}

.textBox:focus {
    outline-width: 2px;
    outline-color: var(--accent);
}

.textBox::placeholder {
    color: var(--accent);
    opacity: 0.25;
}

.textBox:disabled {
    filter: brightness(var(--disabled-brightness));
    pointer-events: none;
}
