.textArea {
    font-family: "Fenix";
    background-color: var(--secondary);
    color: var(--accent);
    border: none;
    outline-color: var(--tertiary);
    outline-width: 1px;
    outline-style: solid;
    padding: 0.5em;
    white-space: normal;
    width: 310px;
    height: 130px;
    font-size: var(--font-size-lg);
    transition: 0.1s;
    transition-property: outline-width, outline-color;
}

.textArea:focus {
    outline-width: 2px;
    outline-color: var(--accent);
}

.textArea::placeholder {
    color: var(--accent);
    opacity: 0.25;
}
