.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.button {
    appearance: none;
    display: block;
    border-radius: 50%;
    background-color: var(--secondary);
    border-color: var(--tertiary);
    border-width: 2px;
    border-style: solid;
    transition: 0.2s;
    transition-property: background-color;
    width: var(--font-size-xl);
    height: var(--font-size-xl);
}

.button:checked {
    background-color: var(--tertiary);
}

.button:focus-visible {
    border-color: var(--accent);
    border-width: 2px;
    border-style: solid;
}
