.blurred {
    position: relative;
    border: 0;
    padding: 0.1em 0.3em;
    cursor: pointer;
    color: rgb(from var(--accent) r g b / 0.6);
    paint-order: stroke fill;
    -webkit-text-stroke: 3px
        rgb(from var(--secondary) r g b / var(--foreground-blur-opacity));
    background-color: rgb(
        from var(--secondary) r g b / var(--foreground-blur-opacity)
    );
    backdrop-filter: blur(var(--foreground-blur-radius));
    transition-duration: 0.15s;
    transition-property:
        color,
        background-color,
        -webkit-text-stroke,
        outline-width;
    border-radius: 10px;
    font-size: var(--font-size-3xl);
}

.blurred:hover,
.blurred:focus-visible {
    color: var(--accent);
    background-color: rgb(
        from var(--primary) r g b / var(--foreground-hovered-blur-opacity)
    );
    -webkit-text-stroke: 3px var(--secondary);
}

.blurred:focus-visible {
    outline-width: 2px;
}
