.iconButton {
    background-color: var(--secondary);
    border-style: solid;
    border-color: var(--tertiary);
    border-width: 1.5px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    cursor: pointer;
}

.iconButton:hover {
    background-color: var(--tertiary);
}

.iconButton:hover > div {
    background-color: var(--tertiary);
    color: var(--accent);
    border-color: var(--accent);
}

.iconButton[aria-pressed="true"] {
    background-color: var(--tertiary);
}

.iconButton[aria-pressed="true"] > div {
    background-color: var(--tertiary);
    color: var(--accent);
    border-color: var(--accent);
}
