.wrapper {
    position: relative;
    display: inline-block;
    font-weight: 1000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.select {
    position: relative;
    width: 100%;
    padding: 0.25em 1.5em 0.25em 0.5em;
    appearance: none;
    border: 0;
    background-color: var(--secondary);
    font-size: 1em;
    color: var(--tertiary);
    text-align: left;
    cursor: pointer;
    font-weight: inherit;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: var(--tertiary);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.select::after {
    content: "▼";
    position: absolute;
    font-size: 0.9em;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 0.2em;
    pointer-events: none;
    color: var(--tertiary);
}

.hidden {
    visibility: hidden;
    pointer-events: none;
    height: 0;
    overflow: hidden;
}

.list {
    position: absolute;
    /* white-space: nowrap; */
    background-color: var(--secondary);
    border-width: 0px 1px 1px 1px;
    border-color: var(--tertiary);
    border-style: solid;
    cursor: pointer;
    z-index: 999;
    margin-top: -1px;
    min-width: 7ch;
}

.list li {
    font-size: 1em;
    padding: 0.25em 1.5em 0.25em 0.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list li:hover,
.list li:focus-visible,
.list li:focus {
    background-color: var(--accent);
    color: var(--tertiary);
}

.list li[aria-selected="true"] {
    color: var(--tertiary);
}
