.wrapper {
    position: relative;
    display: inline-block;
    font-weight: 600;
}
.select::after {
    content: "▼";
    position: absolute;
    font-size: 0.9em;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 0.2em;
    pointer-events: none;
    color: var(--tertiary);
}

.buttonWrapper {
    width: 100%;
    /*
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: var(--tertiary);
    */
}

.select {
    /* width: 100%; */
    padding: 0.25em 1.5em 0.25em 0.5em;
    box-sizing: content-box;
    appearance: none;
    border: 0;
    background-color: var(--secondary);
    font-size: 1em;
    color: var(--tertiary);
    text-align: left;
    cursor: pointer;
    font-weight: inherit;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: var(--tertiary);
    /* z-index: -1; */
}

.hidden {
    visibility: hidden;
    pointer-events: none;
    height: 0;
    overflow: hidden;
}

/*
.selected {
    background-color: var(--secondary);
    color: var(--tertiary);
}

.focused {
    background-color: var(--accent) !important;
    color: var(--tertiary);
}
*/

/*
.selected {
    background-color: var(--secondary);
    color: var(--tertiary);
}
*/

.list li:hover,
.list li:focus-visible,
.list li:focus {
    appearance: none;
    border: 0;
    background-color: var(--accent);
    color: var(--tertiary);
}

.list li[aria-selected="true"] {
    color: var(--tertiary);
}

.list {
    position: absolute;
    top: 100%;
    left: 0;
    /* min-width: 100%; */
    /* display: block; */
    white-space: nowrap;
    background-color: var(--secondary);
    border-width: 0px 1px 1px 1px;
    border-color: var(--tertiary);
    border-style: solid;
    /* transform: translateY(-1px); */
    font-weight: 600;
    cursor: pointer;
    /* z-index: 5; */
    margin-top: -1px;
}
.list li {
    display: block;
    appearance: none;
    font-size: 1em;
    text-decoration: none;
    padding: 0.25em 1.5em 0.25em 0.5em;
    font-weight: 600;
    /* transition: 0.2s; */
}

/*
.list li:hover {
    background-color: var(--accent);
    color: var(--tertiary);
    cursor: pointer;
}
*/
