.button {
    background-color: var(--secondary);
    border-style: solid;
    border-width: 1px;
    border-color: var(--tertiary);
    transition: 0.15s;
    cursor: pointer;
}

.button:hover {
    background-color: var(--tertiary);
}
