.layoutWrapper {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    box-sizing: border-box;
    padding-top: 3rem;
    padding-right: 4rem;
}

.sidebarWrapper {
    flex-shrink: 0;
    position: sticky;
    top: 3rem;
    align-self: flex-start;
    margin-right: 5rem;
}

.contentWrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 0;
    border-style: solid;
    border-color: var(--tertiary);
    min-height: calc(100vh - 9rem);
}
